.nav-button {
  margin: 0 5px;
}

.tengah {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.bintang {
  margin: 0 5px;
  width: 20px;
}

.wadah {
  width: 300px;
  height: 350px;
  margin: 10px;
  float: left;
}

.nm1 {
  background-color: #ff6600;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: align;
}

.ket {
  background-color: #ffff33;
  width: 100%;
}

.barang {
  width: 100%;
}

.rate {
  width: 100%;
  float: left;
  background-color: #ffe066;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wadah-besar {
  float: left;
  width: 100%;
}

a {
  color: orange;
}

.cout {
  width: 100%;
  text-align: right;
  font-weight: bold;
  background-color: blue;
  height: 70px;
}

.form-item {
  width: 500px;
  margin: 30px;
}

.form-container {
  width: 80%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(login.jpg) no-repeat;
  background-size: cover;
}

.loginbox {
  width: 50%;
  height: 500px;
  color: green;
  margin-left: 25%;
  text-align: center;
}

.loginbox ul {
  list-style: none;
}

.loginbox ul li {
  margin: 10px;
}

/* 
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid;
  margin-bottom: 50px;
} */
.mid{
     width: 50%;
     margin: 0 auto;
}
.kontak {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}
